@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

:root {
  --bg-color: #272727;
  --accent-color: #90c12d;
  --main-font-family: "Inter", sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--accent-color);
  font-family: var(--main-font-family);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 80vw;
  max-width: 1400px;
}

.jumbotron {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jumbotron img {
  align-self: center;
}

.jumbotron h1 {
  padding-left: 15vw;
  font-size: 2rem;
  text-transform: uppercase;
}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 5vh;
  max-width: 1200px;
}

.links a {
  color: var(--accent-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration-line: none;
  font-size: 1.5rem;
}

.links i {
  padding: 1rem 1rem;
  font-size: 4rem;
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
  filter: brightness(140%);
}
